<div class="flex flex-col gap-2 md:gap-3">
  <app-manage-cards
    (addCard)="openAddCard()"
    (changeSort)="handleCardSort($event)"
    (deleteCard)="handleDeleteCard($event)"
    (editCard)="openEditCard($event)"
    (transferCard)="openTransferCard($event)"
    [cards]="sortedManageCards"
    [currentSort]="manageCardSort"
    [multiProfileMode]="multiProfileMode"
    [profileName]="activeProfileName"
  ></app-manage-cards>

  <app-manage-installments
    (addInstallment)="openAddInstallment()"
    (deleteInstallment)="handleDeleteInstallment($event)"
    (editInstallment)="openEditInstallment($event)"
    (sort)="handleInstSort($event)"
    [cards]="cardOptions"
    [installments]="sortedManageInstallments"
    [viewDate]="viewDate"
  ></app-manage-installments>
</div>
