<app-modal
  (onClose)="close()"
  [isOpen]="isOpen"
  [title]="'Create New Profile'">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="space-y-4">
    <div>
      <label class="block text-xs font-medium text-slate-700 mb-1">
        Profile Name
      </label>
      <input
        [class.border-red-500]="form.get('profileName')?.invalid && form.get('profileName')?.touched"
        class="w-full p-2 border rounded-lg text-sm"
        formControlName="profileName"
        placeholder="e.g. Spouse"
      />
      @if (form.get('profileName')?.hasError('required') && form.get('profileName')?.touched) {
        <p class="text-xs text-red-500 mt-1">Profile name is required</p>
      }
    </div>
    <button
      [disabled]="form.invalid"
      class="w-full bg-slate-900 text-white py-2.5 rounded-lg text-sm font-medium hover:bg-slate-800 disabled:opacity-50 disabled:cursor-not-allowed"
      type="submit">
      Create Profile
    </button>
  </form>
</app-modal>
